.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown .dropdown-menu {
  margin: 0;
}

.nav .dropdown:hover .dropdown-menu {
  display: block;
}

.nav .dropdown .dropdown-menu {
  margin: 0;
}
